*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(59,70,100);
    max-width:1440px ;
    flex-direction: column;
}
 .buttons{
    display: grid;
    gap: 10px;
    background-color:rgb(53, 61, 84);
    border: 100px;
}
.num{
    display: flex;
    justify-content:flex-end;
    color: white;
}

 h1{
    display: flex;
    justify-content: flex-start;
    text-align: end;
    color: white;
}
.control p{
    text-align: right;
    color: white;
}

.screen{
    width:100%;
    border: 30px;
}


.calculator {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;
}
#display{
    display:flex;
    text-align: right;
    height: 70px;
    color: white;
    background-color: rgb(24,31,50);
    border-radius: 10px;
    width: 100%;
}

.display {
    background-color: #333;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #ddd;
    background-color:rgb(234,227,219);
    font-size : 1.5em;
    padding: 20px;
    margin : 0;
    color: rgb(70,75,87);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #ddd;
}

button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-operator {
    background-color: rgb(200, 200, 212);
    color: #fff;
}

.btn-operator:hover {
    background-color: #ddd;
}

.btn-equal {
    background-color: rgb(209,63,48);
    color: #fff;
    grid-column: span 2;
}
.btn-reset:hover {
    background-color:rgb(72, 46, 120) ;

}
.btn-reset{
    background-color: rgb(100,114,153);
    color:white ;
}

.btn-equal:hover {
    background-color: rgb(174, 69, 69);
}

.btn-clear {
    background-color: rgb(100,114,153);
    color: #fff;
    grid-column: span 1;
}

.btn-clear:hover {
    background-color:rgb(72, 46, 120);
}


.btn-zero {
    grid-column: span 1;
}
.btn-reset {
    grid-column: span 2;
}

@media (max-width: 600px) {
    button {
        font-size: 1.2em;
        padding: 15px;
    }
}